@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
  font-size: 100%;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scroll-padding-top: 110px; /* height of sticky header */
}

html a {
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 1.7;
  color: #231f20;
  font-size: 1.7075773745997866vh;
  background-color: #fff;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

body.loaded {
  overflow-y: auto;
}

a {
  color: #231f20;
  text-decoration: none;
}

a:link,
a:hover,
a:focus {
  color: #231f20;
  text-decoration: none;
}

a img {
  border: none;
}

.container,
.container-fluid {
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
}

.view,body,html{
  height:100%
}

.page-footer,
.top-nav-collapse{
  background-color:#1C2331
}

header {
  position: relative;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  margin: 0;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav .container-fluid{
  padding: 1em 15em;
}

.navbar{
  background-image: linear-gradient(15deg, #137878 0%, #95ca7a 100%);
}

.navbar ul li a{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: .5em;
  font-size: 16px;
}

.navbar-toggler {
  background-color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(238, 29, 35, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.modal-header {
  border-bottom: 0;
}

.modal .modal-header h5{
  color: #007582;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.modal .modal-body p{
  color: #007582;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
}

#ensino-fundamental-ii {
  margin: 8em 0;
  background-color: #fff;
}
#ensino-fundamental-ii .col-md-6{
  padding-right: 0px;
  padding-left: 0px;
}
#ensino-fundamental-ii .col-md-6 img{
  width: 100%;
}
#ensino-fundamental-ii .txt{
  padding: 0 5em;
}
#ensino-fundamental-ii .txt h1{
  color: #335667;
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
#ensino-fundamental-ii .txt h1 span{
  color: #335667;
  font-size: 47px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
#ensino-fundamental-ii .txt h2{
  color: #007582;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding-top: 1em;
}
#ensino-fundamental-ii .txt p{
  color: #007582;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
  width: 90%;
  padding: .5em 0 2em 0;
}
#ensino-fundamental-ii .txt p strong{
  color: #007582;
  font-weight: 700;
}
#ensino-fundamental-ii .txt .btn{
  background: url("../imgs/btn-bg.jpg") no-repeat;
  position: absolute;
  left: 0;
  width: 699px;
  height: 80px;
  color: #fff;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 70px 16px 0px;
}

#promover_educacao {
  margin: 1em 0;
  background-color: #fff;
}
#promover_educacao .col-md-6{
  padding-right: 0px;
  padding-left: 0px;
}
#promover_educacao .col-md-6 img{
  width: 100%;
}
#promover_educacao .txt{
  padding: 0 5em;
}
#promover_educacao .txt h2{
  color: #007582;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
#promover_educacao .txt p{
  color: #007582;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
  width: 90%;
  padding: 1.5em 0;
}
#promover_educacao .txt p strong{
  color: #007582;
}
#promover_educacao .txt h3{
  color: #007582;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

#dna_builders {
  margin-top: 5em;
  padding: 5em 0;
  background: url("../imgs/dna-builders-bg.jpg");
}
#dna_builders .col-md-6,
#dna_builders .col-lg-10,
#dna_builders .col-xl-6{
  padding-right: 0px;
  padding-left: 0px;
}
#dna_builders .col-md-6 img{
  width: 100%;
}
#dna_builders .txt{
  padding: 0 5em;
}
#dna_builders .txt h1{
  color: #fff;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
#dna_builders .txt h2{
  color: #b8de78;
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding-bottom: 1em;
}
#dna_builders .btn{
  color: #007582;
  background-color: #b8de78;
  border: 2px solid #b8de78;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 90px;
  margin-top: 1em;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
#dna_builders .btn:hover{
  color: #b8de78;
  background-color: #007582;
  border: 2px solid #007582;
}


#inovacao_humanidade{
  background-color: #f2f2f2;
  padding: 5em 0;
}
#inovacao_humanidade .container-fluid{
  width: 75%;
}
#inovacao_humanidade h2{
  color: #335667;
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
}
#inovacao_humanidade .card{
  background-color: transparent;
  display: grid;
  align-content: center;
  text-align: center;
  border: 0;
  border-radius: 0;
  margin-top: 6em;
}
#inovacao_humanidade img.card-img-top{
  width: 115px;
}
#inovacao_humanidade .card-body {
  padding: 0;
}
#inovacao_humanidade .card-body h4{
  color: #007582;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding-top: 2em;
}
#inovacao_humanidade .card-body p{
  color: #000;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
  padding-top: 2em;
}


#educacao-integral{
  background-color: #fff;
  padding: 5em 0;
}
#educacao-integral h2{
  color: #009581;
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1em;
}
#educacao-integral img{
  width: 75%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#educacao-integral .section-infographic{
  background-color: #fff;
  padding-bottom: 7em; 
  display: none;
}
#educacao-integral .section-infographic .row-infographic{
  text-align: center;
}
#educacao-integral .section-infographic .row-infographic .infographic{
  background: url("../imgs/ensino-fundamental-ii-2.jpg");
  position: relative;
  width: 1151px;
  height: 746px;
  display: inline-block;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-1{
  position: absolute;
  top: -3px;
  right: 720px;
  z-index: 2;
  text-align: left;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-1 .txt{
  width: 350px;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-1 .txt h5{
  font-size: 22px;
  color: #335667;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 20px 0 0;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-1 .txt p{
  padding-top: 2em;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-2{
  position: absolute;
  top: 298px;
  right: 793px;
  z-index: 2;
  text-align: left;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-2 .txt{
  width: 330px;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-2 .txt h5{
  font-size: 22px;
  color: #335667;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 20px 0 0;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-2 .txt p{
  padding-top: 2em;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-3{
  position: absolute;
  top: 576px;
  right: 753px;
  z-index: 2;
  text-align: left;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-3 .txt{
  width: 350px;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-3 .txt h5{
  font-size: 22px;
  color: #335667;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 20px 0 0;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-3 .txt p{
  padding-top: 2em;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-4{
  position: absolute;
  top: 653px;
  right: 200px;
  z-index: 2;
  text-align: left;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-4 .txt{
  width: 400px;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-4 .txt h5{
  font-size: 22px;
  color: #335667;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 20px 0 0;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-4 .txt p{
  padding-top: 2em;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-5{
  position: absolute;
  top: 298px;
  right: -10px;
  z-index: 2;
  text-align: left;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-5 .txt{
  width: 350px;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-5 .txt h5{
  font-size: 22px;
  color: #335667;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 20px 0 0;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-5 .txt p{
  padding-top: 2em;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-6{
  position: absolute;
  top: 6px;
  right: 2px;
  z-index: 2;
  text-align: left;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-6 .txt{
  width: 400px;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-6 .txt h5{
  font-size: 22px;
  color: #335667;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 20px 0 0;
}
#educacao-integral .section-infographic .row-infographic .infographic .box-6 .txt p{
  padding-top: 2em;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#principais_duvidas{
  background-color: #f2f2f2;
  padding: 5em 0;
}
#principais_duvidas .container-fluid{
  width: 75%;
}
#principais_duvidas h2{
  color: #335667;
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
}
#principais_duvidas #accordion {
  margin-top: 3em;
}
#principais_duvidas .card {
  margin-bottom: 1em;
}
#principais_duvidas .card .card-header {
  background-color: #007582;
  border-bottom: 0;
}
#principais_duvidas .card .card-header a h3,
#principais_duvidas .card .card-header a h3 .collapsed {
  color: #fff;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
#principais_duvidas .card .card-header .accordion-head i{
  font-size: 24px;
}
#principais_duvidas .card .card-header .accordion-head > .collapsed > h3 i:before{
  content: "\2b";
}
#principais_duvidas .card .card-body {
  color: #000;
  background-color: #c0cdc2;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#venha-estudar{
  background-image: linear-gradient(15deg, #137878 0%, #95ca7a 100%);
  padding: 5em 0;
}
#venha-estudar .container{
  text-align: center;
}
#venha-estudar h3{
  color: #fff;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.1;
}
#venha-estudar .btn_red{
  margin-top: 1em;
}
#venha-estudar .btn_red:hover{
  background-color: #fff;
  border-color: #fff;
}
#venha-estudar .btn{
  color: #007582;
  background-color: #b8de78;
  border: 2px solid #b8de78;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 90px;
  margin-top: 1em;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
#venha-estudar .btn:hover{
  color: #b8de78;
  background-color: #007582;
  border: 2px solid #007582;
}

#equipe{
  background-color: #f2f2f2;
  padding: 12em 0 5em 0;
}
#equipe .container-fluid{
  width: 75%;
}
#equipe h2{
  color: #335667;
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
}
#equipe .card{
  background-color: transparent;
  display: grid;
  align-content: center;
  text-align: center;
  border: 0;
  border-radius: 0;
  margin-top: 6em;
}
#equipe img.card-img-top{
  width: 282px;
}
#equipe .card-body {
  padding: 0;
}
#equipe .card-body h4{
  color: #007582;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding-top: 1em;
}
#equipe .card-body p{
  color: #000;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
  padding-top: 1em;
}


footer {
  background-color: #2e343d;
  padding: 2em 0 1em 0;
}
footer .container-fluid{
  width: 80%;
}
footer p{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
footer p strong{
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}
footer .logo{
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
footer .logo img{
  margin-left: auto;
}
footer p a.phone-link{
  color: #fff;
}
footer p a.phone-link:hover{
  color: #b8de78;
}
footer p span.site-link{
  color: #b8de78;
}
footer .styled-icons a {
  color: #fff;
  font-size: 20px;
  height: 35px;
  line-height: 20px;
  width: 35px;
  float: left;
  margin: 25px 7px 0 0;
  padding: 5px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid #fff;
  border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
}
footer .styled-icons a:hover {
  color: #b8de78;
  border: 2px solid #b8de78;
}
footer .styled-icons li {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}
footer p.copyright{
  color: #abaeb2;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.form-row {
  margin-right: 0;
  margin-left: 0;
}
.form-control {
  background-color: #fff;
  color: #abaeb2;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.form-group {
  margin-bottom: 0.5rem;
}
.form-group .info {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.form-group input::-moz-placeholder {
  color: #abaeb2;
}
.form-group input:-ms-input-placeholder {
  color: #abaeb2;
}
.form-group input::placeholder {
  color: #abaeb2;
}
.form-control:focus,
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="url"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form input[type="color"]:focus,
form select:focus,
form textarea:focus {
  color: #abaeb2;
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  outline: none;
}